<app-navbar></app-navbar>
<div class="col-md-4">
  <div class="toggler">
    <div id="effect" class="newClass ui-corner-all">
        Etiam libero neque, luctus a, eleifend nec, semper at, lorem. Sed pede.
    </div>
  </div>
  <button id="button" class="ui-state-default ui-corner-all">Run Effect</button>
  <div id="list-example" class="list-group">
    <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
  </div>
</div>
  
