<div class="content">
  <div class="container">
    <!-- Content here -->
  <div class="row">
  <div class="col-xl-6 offset-xl-3 col-12">
  <div class="login">
<div class="title">Login</div>
	<form  (submit)="loginUser($event)">
  <input type="text" placeholder="E-mail"/>
  <input type="password" placeholder="Password"/>
	<input type="checkbox" id="rememberMe"/>
	<input type="checkbox" id="remgemberMe"/>
  <button class="signin-but">Sign In</button>
  <div class="social"> <span>or sign in with social media</span></div>
  <div class="buttons">
  <button class="facebook"><i class="fa fa-facebook"></i>Facebook</button>
  <button class="twitter"><i class="fa fa-twitter"></i>Twitter</button>
  <button class="google"><i class="fa fa-google-plus"></i>Google</button>
  </div>
	</form>
  <div class="already">You have no account? <a href="#">Sign Up</a></div>
</div>
        </div>
</div>

  </div>
</div>